[flake8]
max-line-length = 120
exclude =
    .venv,
    build,
    __pycache__,
    *.egg-info
extend-ignore =
    E221,
    E231,
    E302,
    E303,
    E305,
    E402,
    E501,
    E722,
    W291,
    W292,
    W293,
    E122,
    E127,
    E128,
    E711,
    E712
